<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naturel Tagline </title>
    <link rel="shortcut icon" href="../assets/image/logo.jpg">
    <link rel="stylesheet" href="../assets/css/home.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>

    <!--nav bar-->
    <header>

        <div class="topnav" id="myTopnav">
            <a class="logo">
                <img src="../assets/image/logo.jpg" width='200'>
            </a>
            <a onclick="openSearch()"><i class="fa fa-search"></i></a>
            <a href="#"><i class="fa fa-user"></i></a>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>

            <div class="dropdown"><button class="dropbtn">Products <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="#">Essentials Oils</a>
                    <a href="#">Cereal</a>
                    <a href="#">Seeds</a>
                </div>
            </div>
            <a href="#">Contact</a>
            <a href="#">About</a>
            <a href="#" class="active">Home</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </header>
    <div id="navbar">
        <div class="slide-menu">
            <a class="logo"><img src="../assets/image/logo.jpg" width='10'></a>
            <a onclick="openSearch()"><i class="fa fa-search"></i></a>
            <a href="#"><i class="fa fa-user"></i></a>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
            <a href="#">Grocery Menu</a>
            <div class="dropdown"><button class="dropbtn">Products <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="#">ESSENTIALS OILS</a>
                    <a href="#">CEREALS</a>
                    <a href="#">SEEDS</a>
                </div>
            </div>
            <a href="#">Contact</a>
            <a href="#">About</a>
            <a href="#" class="active">Home</a>
        </div>
    </div>



    <!--MAIN-->
    <div class="main">
        <section>
            <h1 class="title ml9">
                <span class="text-wrapper">
    <span class="letters">HEALTHY <em style="color:#138275;">GREEN</em> PRODUCT</span>
                </span>
            </h1>
            <h5 class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
            <a href="#" class="btn1">CHOOSE YOUR PRODUCT</a>
        </section>
    </div>
    <!--SECTION0-->
    <section class="section0">
        <center>
            <!--CARD STARTS-->
            <div class="card inline-photo show-on-scroll">
                <table>
                    <tr>
                        <td><i class="fa fa-leaf"></i></td>
                        <td>
                            <h2 class="title">Balanced Diet</h2>
                            <span class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></td>
                    </tr>
                </table>
            </div>
            <!--CARD ENDS-->
            <!--CARD STARTS-->
            <div class="card inline-photo show-on-scroll">
                <table>
                    <tr>
                        <td><i class="fa fa-shopping-cart"></i></td>
                        <td>
                            <h2 class="title">Doorstep delivery</h2>
                            <span class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></td>
                    </tr>
                </table>
            </div>
            <!--CARD ENDS-->
            <!--CARD STARTS-->
            <div class="card inline-photo show-on-scroll">
                <table>
                    <tr>
                        <td><i class="fa fa-tag"></i></td>
                        <td>
                            <h2 class="title">Price guarantee</h2>
                            <span class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></td>
                    </tr>
                </table>
            </div>
            <!--CARD ENDS-->
            <!--CARD STARTS-->
            <div class="card inline-photo show-on-scroll">
                <table>
                    <tr>
                        <td><i class="fa fa-line-chart"></i></td>
                        <td>
                            <h2 class="title">Discover new</h2>
                            <span class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></td>
                    </tr>
                </table>
            </div>
            <!--CARD ENDS-->
    </section>
    <!--SECTION1-->
    <section class="section1">
        <!--CARD STARTS-->
        <div class="cards inline-photo show-on-scroll">
            <section>
                <h1 class="title">PULSES</h1>
                <span class="sub-title">100% Organic Products</span>
                <a href="#" class="btn1">CHECK OUT</a>
            </section>
        </div>
        <!--CARD ENDS-->
        <!--CARD STARTS-->
        <div class="cards inline-photo show-on-scroll">
            <section>
                <h1 class="title">CEREALS</h1>
                <span class="sub-title">100% Organic Products</span>
                <a href="#" class="btn1">CHECK OUT</a>
            </section>
        </div>
        <!--CARD ENDS-->
        <!--CARD STARTS-->
        <div class="cards inline-photo show-on-scroll">
            <section>
                <h1 class="title">NUTS</h1>
                <span class="sub-title">100% Organic Products</span>
                <a href="#" class="btn1">CHECK OUT</a>
            </section>
        </div>
        <!--CARD ENDS-->
    </section>




















    <script src="../assets/home.js"></script>
</body>

</html>
/