<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>..Healthy Line..</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="shortcut icon" href="../assets/image/logo.jpg" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>

    <!-- header section starts -->

    <header id="header">

        <nav>
            <ul>
                <li><a href="#home">home</a></li>
                <li><a href="#Category">Category</a></li>
                <li><a href="product.html">product</a></li>
                <li><a href="#contact">contact</a></li>
                <li><a href="#about">about</a></li>
                <li><a href="login.html">login</a></li>
                <li style="float:right">
                    <a href="cart.html"> <img src="../assets/image/cart-plus-solid.svg" width=50px></a>
                </li>

            </ul>
        </nav>

        <div class="naturel"></div>

        <a href="#" class="logo"><img src="images/logo.png" alt=""></a>

    </header>



    <!-- home section starts  -->

    <section id="home" class="container-fluid">

        <div class="row min-vh-100 align-items-center">

            <div class="col-md-8 ml-md-5 text-md-left text-center content">
                <h1>nature is eternally young</h1>
                <h2>she possesses the secret of happiness and no one has been able to take it away from her</h2>
                
                <a href="#Category"><button>get started</button></a>
            </div>

            <div class="image-container">
                <img src="../assets/image/brooke-lark-nTZOILVZuOg-unsplash.jpg" class="img img1">
                <img src="../assets/image/brooke-lark-qdyBKWSzpSI-unsplash.jpg" class="img img2">
                <img src="../assets/image/brooke-lark-uZjF45POZP4-unsplash.jpg" class="img img3">
            </div>

            

        </div>

    </section>



    <!-- Category card section starts  -->

    <section id="Category" class="container-fluid">

        <div class="heading text-center">
            <h1>our <span>Category</span></h1>
            
        </div>


        <div class="card-container">

            <div class="card">
                <img src="../assets/image/cereal2.jpg" alt="">
                <p>Cereal eaters consume less fat, less cholesterol and more fiber than noncereal eaters. 1 Today's cereals are more nutritious than ever. Many leading cereals are made with whole grain, calcium and vitamin D, while reducing sugar and limiting calories. And cereal is affordable, convenient and tastes good.</p>
                
            </div>

            <div class="card">
                <img src="../assets/image/téléchargement.jfif" alt="">
                <p>Essential oils smell great, reduce stress, treat fungal infections, and help you sleep. They are concentrated extractions from plants. A process called distillation turns the “essence” of a plant into a liquefied form for many medicinal and recreational uses.</p>
              
            </div>

            <div class="card">
                <img src="../assets/image/chia.jpg" alt="">
                <p>Chia seeds are widely used in Latin America. In Europe, a little less. Yet the benefits of these seeds are significant. We have selected ten for you. After reading this article, you will become a buyer.</p>
                
            </div>

        </div>

    </section>
    <section id="about" class="container">

        <div class="heading text-center">
            <h1><span>about</span> us</h1>
        </div>
        <p id='txt'>My Healthy Food designs, produces and markets organic products without major allergens intended for fast food restaurants (cereals, seeds, and essentiels oils). We work with seasonal and local products.</p>

        <div class="row min-vh-100">

            <div class="col-md-6 text-center text-md-left align-self-center content">
                <p></p>
                <p></p>
                
            </div>

            <div class="col-md-6 image">
                <img src="images/pic.png" alt="">
            </div>

        </div>

    </section>

    <!-- about section ends  -->


    <!-- product section starts  -->

    <section id="product" class="container">

        <div class="heading text-center">
            <h1>our <span>product</span></h1>
        </div>

        <div class="box-container">

            <div class="box">
                <img src="../assets/image/cereal3.jpg" alt="">
                <div class="info">
                    <h3>Cereal</h3>
                    <p></p>
                    <a href="product.html"><button>view</button></a>
                </div>
            </div>

            <div class="box">
                <img src="../assets/image/cereal2.png" alt="">
                <div class="info">
                    <h3>Cereal</h3>
                    <p></p>
                    <a href="product.html"><button>view</button></a>
                </div>
            </div>

            <div class="box">
                <img src="../assets/image/téléchargement.jfif" alt="">
                <div class="info">
                    <h3>Flaxseed</h3>
                    <p></p>
                    <a href="product.html"><button>view</button></a>
                </div>
            </div>

            <div class="box">
                <img src="../assets/image/seeds2.jpg" alt="">
                <div class="info">
                    <h3>chia seed</h3>
                    <p></p>
                    <a href="product.html"><button>view</button></a>
                </div>
            </div>

            <div class="box">
                <img src="../assets/image/oil2.png" alt="">
                <div class="info">
                    <h3>almond oil </h3>
                    <p></p>
                    <a href="product.html"><button>view</button></a>
                </div>
            </div>

            <div class="box">
                <img src="../assets/image/oil1.jpg" alt="">
                <div class="info">
                    <h3>resin oil </h3>
                    <p></p>
                    <a href="product.html"><button>view</button></a>
                </div>
            </div>

        </div>

    </section>

    <!-- product section ends  -->

    <!-- contact section starts  -->

    <section id="contact" class="container-fluid">

        <div class="heading text-center">
            <h1><span>contact</span> us</h1>
        </div>

        <div class="row justify-content-center">

            <form action="" class="col-md-7">

                <div class="inputBox">
                    <input type="text" required>
                    <h3>full name</h3>
                </div>

                <div class="inputBox">
                    <input type="email" required>
                    <h3>e-mail</h3>
                </div>

                <div class="inputBox">
                    <textarea required name="" id="" cols="30" rows="10"></textarea>
                    <h3>message</h3>
                </div>

                <input type="submit" value="send">

            </form>

        </div>

    </section>

    <!-- contact section ends  -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.836099010565!2d10.184684638992248!3d36.894269052036854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb32a574f131%3A0x736d6f5853a1bd2e!2sReBootKamp%20(RBK%20Tunis)!5e0!3m2!1sfr!2stn!4v1616152182783!5m2!1sfr!2stn"
            dth="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
    </div>
    <!-- footer section starts  -->

    <section id="footer" class="container-fluid">

        <div class="row align-items-center">

            <div class="col-md-4 brand">

                <a href="#" class="logo"><img src="images/logo.png" alt=""></a>

                <div class="icons">
                    <a href="www.facebook.com" ></a>
                    <a href="www.twitter.com" ></a>
                   
                </div>

            </div>

            <div class="col-md-4 text-center text-md-left letter">
                <h2>newsletter</h2>
                <input type="text"><br>
                <input type="submit" value="subscribe">
            </div>

        </div>
    </section>

    <script src="../assets/home.js "></script>
</body>
</html>





























