<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="../assets/css/product.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>

<body>



    <section>
        <ul>
            <li class="list active" data-filter="ess">All products</li>
            <li class="list" data-filter="Cereal">Cereal</li>
            <li class="list" data-filter="Oils">Essentials Oils</li>
            <li class="list" data-filter="Seeds">Seeds</li>
        </ul>

        <div class="product">


            <div class="itemBox Essentials Oils"><img src="../assets/image/lavande.jpg">
                <h2>Price : 30dt</h2>
                <a href="cart.html"><button class ="btn">Add to cart</button></a>

            </div>



            <div class="itemBox Essentials Oils"><img src="../assets/image/oil1.jpg">
                <h2>Price : 20dt</h2>
                <a href="cart.html"><button class ="btn">Add to cart</button></a>

            </div>

            <div class="itemBox Essentials Oils"><img src="../assets/image/huiledamande.jpg">
                <h2>Price : 40dt</h2>
                <a href="cart.html"><button class ="btn">Add to cart</button></a>

            </div>


            <div class="itemBox Cereal"><img src="../assets/image/AVOINE.jpg">
                <h2>Price : 40dt</h2>
                <a href="cart.html"><button class ="btn">Add to cart</button></a>

            </div>


            <div class="itemBox Cereal"><img src="../assets/image/ble.jpg">
                <h2>Price : 20dt</h2>
                <a href="cart.html"><button class ="btn">Add to cart</button></a>

            </div>

            <div class="itemBox Cereal"><img src="../assets/image/cereal2.jpg">
                <h2>Price : 25dt</h2>
                <a href="cart.html"><button class ="btn">Add to cart</button></a>

            </div>
            <div class="itemBox Seeds"><img src="../assets/image/flaxseeds.jpg">
                <h2>Price : 35dt</h2>
                <a href="cart.html"><button class ="btn">Add to cart</button></a>

            </div>
            <div class="itemBox Seeds"><img src="../assets/image/seeds2.jpg">
                <h2>Price : 20dt</h2>
                <a href="cart.html"><button class ="btn">Add to cart</button></a>

            </div>
            <div class="itemBox Seeds"><img src="../assets/image/SEEDS3.jpg">
                <h2>Price : 20dt</h2>
                <a href="cart.html"><button class ="btn">Add to cart</button></a>

            </div>
        </div>
    </section>
    </div>
    </section>

    <script src="../assets/js/product.js">
    </script>
</body>

</html>